body {
background-color: #BAB7E8;
}

h2 {
text-align: center;
}
h4 {
text-align: center;
letter-spacing: 5px;
}

div {
text-align: center;
}


.Erza{
margin-bottom:40px;
}

.second{
margin-bottom: 40px;
}

.third{
margin-bottom: 40px;
}

.fourth{
    margin-bottom: 40px;
}

.fifth{
margin-bottom: 40px;
}
.sixth{
    margin-bottom: 40px;
}
.seventh{
margin-bottom: 40px;
}

.container1{
    margin-bottom: 40px;
}

.container2{
    margin-bottom: 40px;
}

.Q{
    margin-bottom: 40px;
}

.www{
    margin-bottom: 40px;
}
