 td, th {

    border:1px black solid ;
    padding:8px;
    text-align:left;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
tr:nth-child(even) {
    background-color: #dddddd; }

    .erza{background-color: aquamarine;

    }